# 80/20 Rule

In [1]:
import pandas as pd
import numpy as np

path = 's3://adtech-ml-perf-ads-us-east-1-prod-v1/data/tmp/df2.parquet'
basic = ['platform', 'device', 'language', 'city', 'state', 'age', 'gender']
if 'df' not in globals():
    df = pd.read_parquet(path)
df

,cd,content_id,country,language,platform,city,state,nccs,device,gender,age,ad_time,reach,ad_time_ratio
0,2022-10-17,1540019085,in,english,android,bangalore,ka,NCCS_B,,f,U30,19301.681000,98,3.048659e-04
1,2022-10-17,1540019088,in,english,android,chennai,tn,NCCS_B,15-20K,m,,25023.425000,168,3.998025e-04
2,2022-10-17,1540019085,in,english,web,bangalore,ka,NCCS_A,,m,,20101.472902,45,3.174984e-04
3,2022-10-17,1540019088,in,english,android,bhilai,ct,NCCS_C_D,20-25K,m,U30,35.772000,1,5.715338e-07
4,2022-10-17,1540019085,in,english,android,agartala_ongc,tr,,,m,U30,755.655000,1,1.193541e-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036172,2022-10-17,1540019088,in,english,android,rajahmundry,ap,NCCS_B,,m,U30,86.377000,1,1.380056e-06
2036173,2022-10-17,1540019088,in,english,android,rupnagar,pb,NCCS_A,35K+,f,U30,83.862000,1,1.339874e-06
2036174,2022-10-17,1540019088,in,english,android,bhilai,ct,NCCS_A,,f,U30,45.000000,1,7.189707e-07
2036175,2022-10-17,1540019088,in,english,android,deoria,up,NCCS_A,15-20K,m,U30,67.000000,1,1.070468e-06
2036176,2022-10-17,1540019088,in,english,android,bishnupur,ml,,15-20K,m,,17.650000,1,2.819963e-07

In [8]:
translation = {
    'city': {
        'mumbai':'mumbai',
        'delhi':'delhi',
        'bangalore':'bangalore',
        'hyderabad':'hyderabad',
        'ahmedabad':'ahmedabad',
        'chennai':'chennai',
        'kolkata':'kolkata',
        'surat':'surat',
        'pune':'pune',
        'jaipur':'jaipur',
        'lucknow':'lucknow',
        'kanpur':'kanpur',
        'nagpur':'nagpur',
        'indore':'indore',
        'bhopal':'bhopal',
        'visakhapatnam':'visakhapatnam',
        'patna':'patna',
        'vadodara':'vadodara',
        'ludhiana':'ludhiana',
        'agra':'agra',
        'nashik':'nashik',
        'varanasi':'varanasi',
        'dhanbad':'dhanbad',
        'amritsar':'amritsar',
        'allahabad':'allahabad',
        'ranchi':'ranchi',
        'gwalior':'gwalior',
        'coimbatore':'coimbatore',
        'vijayawada':'vijayawada',
        'jodhpur':'jodhpur',
        'madurai':'madurai',
        'raipur':'raipur',
        'kochi':'kochi',
        'chandigarh':'chandigarh',
        'guwahati':'guwahati',
        'other': 'other',
    },
    'device': {
        '25-35K': '25K+',
        '35K+': '25K+',
        'other': 'other'
    },
    'age': { # TODO: need check the definition of age
        'U30': '30-',
        'other': 'other',
    },
    'gender': {
        'm': 'male',
        'other': 'female',
    },
    'platform': {
        'android': 'mobile',
        'ios': 'mobile',
        'other': None,
    },
    'language': {
        'english': 'english',
        'hindi': 'hindi',
        'other': None,
    },
    'state': {
        'up': 'Uttar Pradesh + Uttarakhand',
        'ut': 'Uttar Pradesh + Uttarakhand',
        'mh': 'Maharashtra',
        'br': 'Bihar + Jharkhand',
        'jh': 'Bihar + Jharkhand',
        'wb': 'West Bengal',
        'ct': 'Chattisgarh',
        'tn': 'Tamil Nadu + Pondicherry',
        'ka': 'Karnataka',
        'gj': 'Gujarat + Goa',
        'ap': 'Andhra Pradesh + Telangana',
        'tg': 'Andhra Pradesh + Telangana',
        'or': 'Odisha',
        'kl': 'Kerala',
        'pb': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'hr': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'hp': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'jk': 'Haryana + Punjab + Himachal Pradesh + Jammu and Kashmir',
        'ar': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'as': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'mn': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'ml': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'mz': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'nl': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'sk': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'tr': 'Arunachal Pradesh + Assam +Manipur + Meghalaya+ Mizoram + Nagaland +Sikkim +Tripura',
        'rj': 'Rajasthan',
        'mp': 'Madhya Pradesh',
        'other': 'other',
    },
}

def merge(df):
    df2 = df.copy()
    for col, mp in translation.items(): # except state
        df2[col] = df[col].map(lambda x: mp.get(x, mp['other']))
    df2 = df2.dropna() # remove invalid rows
    return df2

df2 = merge(df)
df2

,cd,content_id,country,language,platform,city,state,nccs,device,gender,age,ad_time,reach,ad_time_ratio
0,2022-10-17,1540019085,in,english,mobile,bangalore,Karnataka,NCCS_B,other,female,30-,19301.681,98,3.048659e-04
1,2022-10-17,1540019088,in,english,mobile,chennai,Tamil Nadu + Pondicherry,NCCS_B,other,male,other,25023.425,168,3.998025e-04
3,2022-10-17,1540019088,in,english,mobile,other,Chattisgarh,NCCS_C_D,other,male,30-,35.772,1,5.715338e-07
4,2022-10-17,1540019085,in,english,mobile,other,Arunachal Pradesh + Assam +Manipur + Meghalaya...,,other,male,30-,755.655,1,1.193541e-05
5,2022-10-17,1540019085,in,english,mobile,other,Karnataka,,other,male,other,371.736,1,5.871490e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036172,2022-10-17,1540019088,in,english,mobile,other,Andhra Pradesh + Telangana,NCCS_B,other,male,30-,86.377,1,1.380056e-06
2036173,2022-10-17,1540019088,in,english,mobile,other,Haryana + Punjab + Himachal Pradesh + Jammu an...,NCCS_A,25K+,female,30-,83.862,1,1.339874e-06
2036174,2022-10-17,1540019088,in,english,mobile,other,Chattisgarh,NCCS_A,other,female,30-,45.000,1,7.189707e-07
2036175,2022-10-17,1540019088,in,english,mobile,other,Uttar Pradesh + Uttarakhand,NCCS_A,other,male,30-,67.000,1,1.070468e-06
2036176,2022-10-17,1540019088,in,english,mobile,other,Arunachal Pradesh + Assam +Manipur + Meghalaya...,,other,male,other,17.650,1,2.819963e-07

In [9]:
df3 = df2.groupby(basic).sum().reset_index().sort_values('reach', ascending=False) # TODO: think about whether reach could be sum!!
df3

,platform,device,language,city,state,age,gender,ad_time,reach,ad_time_ratio
480,mobile,other,english,delhi,other,30-,male,3.492289e+09,6871355,2.383762e+00
535,mobile,other,english,mumbai,Maharashtra,30-,male,2.265088e+09,4870229,1.480652e+00
612,mobile,other,english,patna,Bihar + Jharkhand,30-,male,2.136544e+09,4530119,1.486576e+00
522,mobile,other,english,lucknow,Uttar Pradesh + Uttarakhand,30-,male,2.138124e+09,4411561,1.437140e+00
494,mobile,other,english,hyderabad,Andhra Pradesh + Telangana,30-,male,1.720335e+09,3771925,1.145361e+00
...,...,...,...,...,...,...,...,...,...,...
67,mobile,25K+,english,jaipur,Uttar Pradesh + Uttarakhand,other,male,1.000000e+01,1,2.188170e-08
319,mobile,25K+,hindi,mumbai,Uttar Pradesh + Uttarakhand,30-,male,1.000000e+01,1,7.266781e-09
685,mobile,other,hindi,chennai,other,other,male,6.995060e+00,1,4.924350e-08
53,mobile,25K+,english,gwalior,Madhya Pradesh,30-,male,5.000000e+00,1,9.248221e-10
101,mobile,25K+,english,mumbai,other,30-,male,9.500000e+01,1,2.325900e-08

In [23]:
df3[['city', 'state']].sort_values(['city', 'state']).drop_duplicates().to_csv('city_state.csv', index=False)
df3[basic].nunique()

platform     1
device       2
language     2
city        36
state       16
age          2
gender       2
dtype: int64

In [17]:
(df3.reach.sort_values(ascending=False).cumsum() / df3.reach.sum()).quantile(
    np.concatenate((np.arange(0, 0.2, 0.05), np.arange(0.2, 1, 0.1)))
).to_frame().reset_index().style.format({'index':'{:.0%}', 'reach': '{:.3%}'}).hide_index()

In [28]:
df4 = pd.concat([
    df3.reach.cumsum().rename('accum%') / df3.reach.sum(),
    df3.drop(['ad_time', 'reach', 'ad_time_ratio'], axis=1),
    (df3.reach / df3.reach.sum()).rename('reach%'),
    (df3.ad_time / df3.ad_time.sum()).rename('watch_time%'),
], axis=1)
df4.to_csv('df4.csv', index=False, float_format='{:.2%}'.format)
df4.head(10).style.format({'reach%': '{:.2%}', 'watch_time%': '{:.2%}', 'accum%': '{:.2%}'}).hide_index()

In [178]:
spf = spark.read.parquet('s3://hotstar-dp-datalake-processed-us-east-1-prod/events/watched_video/cd=2023-02-01/hr=18/part-00023-88816b64-fb2d-45bb-a98f-f68cbe6baeb7.c000.snappy.parquet')
spf.where('user_segments is not null')[['city', 'state', 'user_segments']]

+-------------+-----+--------------------+
|         city|state|       user_segments|
+-------------+-----+--------------------+
|        DELHI|   DL|["SSAI::D_NA:G_U:...|
|       MUMBAI|   MH|["SSAI::D_15T150:...|
|VISAKHAPATNAM|   AP|["SSAI::D_15T150:...|
|       RANCHI|   JH|["SSAI::D_NA:G_F:...|
|       MUMBAI|   MH|["SSAI::D_15T150:...|
|      LUCKNOW|   UP|["SSAI::D_15T150:...|
|        PATNA|   BR|{"ssaiTag":"SSAI:...|
|    BANGALORE|   KA|["SSAI::D_15T150:...|
|       MUMBAI|   MH|["SSAI::D_NA:G_F:...|
|       JAIPUR|   RJ|["SSAI::D_NA:G_U:...|
|    AHMEDABAD|   GJ|["SSAI::D_NA:G_U:...|
|      GURGAON|   HR|["SSAI::D_NA:G_U:...|
|       MUMBAI|   MH|["SSAI::D_NA:G_U:...|
|    AHMEDABAD|   GJ|["SSAI::D_15T150:...|
|  NAGPUR_CITY|   MH|["SSAI::D_15T150:...|
|       MUMBAI|   MH|["SSAI::D_NA:G_U:...|
|      CHENNAI|   TN|["SSAI::D_NA:G_U:...|
|      MADURAI|   TN|["SSAI::D_15T150:...|
|      CHENNAI|   TN|["SSAI::D_NA:G_U:...|
|       JAIPUR|   RJ|["SSAI::D_15T150:...|
+-------------+-----+--------------------+
only showing top 20 rows

In [179]:
t = spf[['city', 'state', 'user_segments']].limit(10).toPandas()

In [191]:
import json
def parse(segs):
    default = ''
    try:
        js = json.loads(segs)
        if isinstance(js, list):
            lst = js
        else:
            lst = js.get('data', [])
    except:
        return default
    filter_ = set()
    for x in lst:
        for y in ['CITY_', 'STATE_']:
            if y in x:
                filter_.add(x)
    return '|'.join(filter_)

t['geo_segs'] = t.user_segments.map(parse)
t

,city,state,user_segments,geo_segs
0,DELHI,DL,"[""SSAI::D_NA:G_U:S_NA:M_NCR:N_NA:C1_NA:C2_NA:C...",STATE_DL|GPS_CITY_AMBALA|GPS_STATE_HR|CITY_DELHI
1,None,None,None,
2,MUMBAI,MH,"[""SSAI::D_15T150:G_U:S_MH:M_MUM:N_NA:C1_NA:C2_...",GPS_CITY_SATARA|STATE_MH|GPS_STATE_MH|CITY_MUMBAI
3,None,MH,None,
4,VISAKHAPATNAM,AP,"[""SSAI::D_15T150:G_U:S_APTG:M_NA:N_NA:C1_NA:C2...",CITY_VISAKHAPATNAM|GPS_STATE_NA|STATE_AP|GPS_C...
5,RANCHI,JH,"[""SSAI::D_NA:G_F:S_BRJH:M_1PT:N_NA:C1_NA:C2_NA...",CITY_RANCHI|STATE_JH|GPS_STATE_NA|GPS_CITY_NA
6,MUMBAI,MH,"[""SSAI::D_15T150:G_U:S_MH:M_MUM:N_NA:C1_NA:C2_...",CITY_MUMBAI|GPS_STATE_NA|STATE_MH|GPS_CITY_NA
7,LUCKNOW,UP,"[""SSAI::D_15T150:G_U:S_UPUT:M_1PT:N_NA:C1_NA:C...",CITY_LUCKNOW|GPS_STATE_UP|GPS_CITY_MAU|STATE_UP
8,PATNA,BR,"{""ssaiTag"":""SSAI::D_NA:G_U:S_BRJH:M_1PT:N_NA:C...",GPS_STATE_NA|CITY_PATNA|STATE_BR|GPS_CITY_NA
9,BANGALORE,KA,"[""SSAI::D_15T150:G_U:S_KA:M_BEN:N_NA:C1_NA:C2_...",GPS_CITY_BANGALORE|GPS_STATE_KA|STATE_KA|CITY_...

# Time Stability

In [31]:
sample_days = df.cd.drop_duplicates().sort_values()[::3].tolist() + [pd.to_datetime('2022-10-23').date()]
sample_days.sort()
sample_days

[datetime.date(2022, 10, 16),
 datetime.date(2022, 10, 19),
 datetime.date(2022, 10, 22),
 datetime.date(2022, 10, 23),
 datetime.date(2022, 10, 25),
 datetime.date(2022, 10, 28),
 datetime.date(2022, 10, 31),
 datetime.date(2022, 11, 3),
 datetime.date(2022, 11, 6),
 datetime.date(2022, 11, 13)]

In [40]:
sample_days = df.cd.drop_duplicates().sort_values()[::3].tolist() + [pd.to_datetime('2022-10-23').date()]
sample_days.sort()
sample_days

[datetime.date(2022, 10, 16),
 datetime.date(2022, 10, 19),
 datetime.date(2022, 10, 22),
 datetime.date(2022, 10, 23),
 datetime.date(2022, 10, 25),
 datetime.date(2022, 10, 28),
 datetime.date(2022, 10, 31),
 datetime.date(2022, 11, 3),
 datetime.date(2022, 11, 6),
 datetime.date(2022, 11, 13)]

In [41]:
df6 = df2[df2.cd.isin(sample_days)]
df7 = df6.groupby(['cd'] + basic).sum().reset_index()
df7['watch_time%'] = df7.ad_time / df7.groupby('cd').ad_time.transform('sum')
df7['reach%'] = df7.reach / df7.groupby('cd').reach.transform('sum')
df7

,cd,platform,device,language,city,state,age,gender,ad_time,reach,ad_time_ratio,watch_time%,reach%
0,2022-10-16,mobile,25K+,english,agra,Uttar Pradesh + Uttarakhand,30-,male,351.095535,3,3.042784e-06,1.719077e-06,0.000003
1,2022-10-16,mobile,25K+,english,agra,Uttar Pradesh + Uttarakhand,other,female,33.764000,1,2.376902e-07,1.653194e-07,0.000001
2,2022-10-16,mobile,25K+,english,agra,Uttar Pradesh + Uttarakhand,other,male,1596.526000,1,1.489987e-05,7.817105e-06,0.000001
3,2022-10-16,mobile,25K+,english,ahmedabad,Gujarat + Goa,30-,female,1168.402232,12,9.340343e-06,5.720873e-06,0.000013
4,2022-10-16,mobile,25K+,english,ahmedabad,Gujarat + Goa,30-,male,19052.768043,126,1.538488e-04,9.328848e-05,0.000135
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7587,2022-11-13,mobile,other,hindi,vijayawada,Andhra Pradesh + Telangana,other,male,13104.728553,38,3.208451e-06,3.733384e-06,0.000005
7588,2022-11-13,mobile,other,hindi,visakhapatnam,Andhra Pradesh + Telangana,30-,female,4976.487000,12,1.218401e-06,1.417743e-06,0.000002
7589,2022-11-13,mobile,other,hindi,visakhapatnam,Andhra Pradesh + Telangana,30-,male,46950.917420,169,1.149507e-05,1.337577e-05,0.000024
7590,2022-11-13,mobile,other,hindi,visakhapatnam,Andhra Pradesh + Telangana,other,female,5563.412515,11,1.362099e-06,1.584951e-06,0.000002
7591,2022-11-13,mobile,other,hindi,visakhapatnam,Andhra Pradesh + Telangana,other,male,14844.744834,49,3.634462e-06,4.229094e-06,0.000007

In [43]:
df8 = df4.merge(df7, on=basic, suffixes=('', '_daily'))
df8

,accum%,platform,device,language,city,state,age,gender,reach%,watch_time%,cd,ad_time,reach,ad_time_ratio,watch_time%_daily,reach%_daily
0,0.059056,mobile,other,english,delhi,other,30-,male,5.905627e-02,7.232907e-02,2022-10-16,2.627808e+05,1932,2.135001e-03,1.286659e-03,2.073366e-03
1,0.059056,mobile,other,english,delhi,other,30-,male,5.905627e-02,7.232907e-02,2022-10-19,1.881337e+07,72013,1.378853e-01,8.468222e-02,7.969972e-02
2,0.059056,mobile,other,english,delhi,other,30-,male,5.905627e-02,7.232907e-02,2022-10-22,8.697146e+07,223637,1.298370e-01,7.675693e-02,6.379125e-02
3,0.059056,mobile,other,english,delhi,other,30-,male,5.905627e-02,7.232907e-02,2022-10-23,3.291580e+08,510181,1.205118e-01,7.024797e-02,5.403625e-02
4,0.059056,mobile,other,english,delhi,other,30-,male,5.905627e-02,7.232907e-02,2022-10-25,6.310694e+07,143467,6.455479e-02,7.457200e-02,6.047507e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7587,1.000000,mobile,25K+,english,jaipur,Uttar Pradesh + Uttarakhand,other,male,8.594559e-09,2.071108e-10,2022-10-22,1.000000e+01,1,2.188170e-08,8.825531e-09,2.852446e-07
7588,1.000000,mobile,25K+,hindi,mumbai,Uttar Pradesh + Uttarakhand,30-,male,8.594559e-09,2.071108e-10,2022-11-06,1.000000e+01,1,7.266781e-09,1.850388e-09,8.174912e-08
7589,1.000000,mobile,other,hindi,chennai,other,other,male,8.594559e-09,1.448752e-10,2022-10-16,6.995060e+00,1,4.924350e-08,3.425007e-08,1.073171e-06
7590,1.000000,mobile,25K+,english,gwalior,Madhya Pradesh,30-,male,8.594559e-09,1.035554e-10,2022-10-23,5.000000e+00,1,9.248221e-10,1.067086e-09,1.059158e-07
7591,1.000000,mobile,25K+,english,mumbai,other,30-,male,8.594559e-09,1.967552e-09,2022-11-13,9.500000e+01,1,2.325900e-08,2.706439e-08,1.400889e-07

In [52]:
df9 = df8.pivot(df4.columns, 'cd', 'reach%_daily').reset_index().fillna(0)
df9.to_csv('df9.csv', index=False, float_format='{:.4%}'.format)
df9.head(11).style.format(lambda x: f'{x:.2%}' if isinstance(x, float) else x).hide_index()

In [48]:
df.groupby(['cd', 'content_id']).sum().sort_values('ad_time', ascending=False).head(10) # big game days

                            ad_time     reach  ad_time_ratio
cd         content_id
2022-11-10 1540019065  5.814211e+09  12325196            1.0
2022-10-23 1540018990  5.406445e+09   9565917            1.0
2022-11-02 1540019041  5.278164e+09   9242204            1.0
2022-10-30 1540019100  5.117005e+09   9172445            1.0
2022-11-06 1540019103  4.725454e+09   7971081            1.0
2022-11-13 1540019068  4.084441e+09   7881189            1.0
2022-11-09 1540019062  3.223957e+09   7242921            1.0
2022-10-27 1540019011  3.164234e+09   6639159            1.0
2022-11-03 1540019044  2.033737e+09   4597968            1.0
2022-11-01 1540019035  1.473797e+09   3095860            1.0

# Geo from GPS